<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
